# Discord Bot Token (https://discord.com/developers/applications)
TOKEN=your_discord_bot_token_here

# Spotify API Kimlik Bilgileri (https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

# Uzak Sunucu SSH Deploy & Log İzleme Parametreleri
SSH_HOST=89.47.113.220
SSH_PORT=22
SSH_USER=Administrator
SSH_PASSWORD=your_remote_server_password_here
